.corner {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 6px solid #00be4c;
}

.top-left {
  border-right: none;
  border-bottom: none;
}

.top-right {
  border-left: none;
  border-bottom: none;
}

.bottom-left {
  border-right: none;
  border-top: none;
}

.bottom-right {
  border-left: none;
  border-top: none;
}
