.container {
  height: 220px;
  overflow: auto;
}

.attendanceContainer {
  gap: 0;
  border: 1px solid var(--border);
  border-radius: 6px;
  margin: 8px 0;
  padding: 10px;
  background-color: var(--attendance-item);
}
