.header {
  display: flex;
  font-weight: 600;
  padding: 0 0.7rem;
  user-select: none;
  align-items: center;
  width: 100%;
  border-radius: 6px 6px 0 0;
  background-color: var(--data-grid-header);
  color: black;
}

.body {
  border-radius: 0 0 6px 6px;
  border: 1px solid var(--border);
  border-top: none;
}

.row {
  padding: 0px 0.6rem;
  align-items: center;
  cursor: pointer;

  &:last-child {
    border-radius: 0 0 6px 6px;
  }

  &:nth-child(even) {
    background-color: var(--even-row);
  }

  &:hover {
    background: var(--hover);
  }
}

.cell {
  padding: 8px 4px;
}

.headerCell {
  padding: 4px 4px;
}
