.inputWrapper {
  --input-color: var(--mantine-color-text) !important;
  --input-placeholder-color: var(--placeholder) !important;
}

.input {
  border-bottom: 1px solid var(--border);
  font-size: 16px;
  font-weight: 300;
  border-radius: 0;
  padding: 0px 10px;
  --input-bd: transparent !important;
}

.innerInput {
  padding: 0px 10px;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
}

.content {
  border-radius: 6px;
}

.body {
  padding: 20px 20px 22px 20px;
}

.header{
  border-bottom: 1px solid var(--border);
  padding: 8px 15px 4px 20px;
  min-height: 50px;
}

.gridInner {
  --grid-margin: 0;
  width: 100%;
}

.item {
  --item-border: var(--border);
}
