.inputWrapper {
  --input-color: black !important;
  --input-placeholder-color: #888888 !important;
}

.input {
  border-bottom: 1px solid #c5c5c5;
  font-size: 16px;
  font-weight: 300;
  border-radius: 0;
  padding: 0px 10px;
  --input-bd: transparent !important;
}

.innerInput {
  padding: 0px 10px;
}

.root {
  height: 60px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 300;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
}

.content {
  border-radius: var(--mantine-radius-md);
}

.checkboxLabel {
  padding-inline-start: 6px;
}

.checkboxIcon {
  width: 50%;
}

.gridInner {
  --grid-margin: 0;
  width: 100%;
}
