.wrapper {
  border-top: 1px solid var(--border-color);
}

.container {
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 6px;

  &:hover {
    background-color: var(--hover-bg);
  }
}

.shifted {
  padding: 8px 0 8px 2px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
