.item {
  cursor: pointer;

  :hover {
    background-color: var(--hover-background);
  }
}

.card {
  padding: 0px 10px;
  border-radius: 20px;
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
