.root {
  position: relative;
  margin-top: 15px;
}

.label {
  display: flex;
  gap: 5px;
  flex-direction: row;
  font-size: 14px;
  position: absolute;
  z-index: 2;
  top: 7px;
  left: var(--mantine-spacing-sm);
  color: var(--placeholder);
  transition:
    transform 150ms ease,
    font-size 150ms ease,
    color 150ms ease;

  &[data-floating] {
    transform: translate(calc(var(--mantine-spacing-sm) * -1), -28px);
    font-weight: 600;
    font-size: 14px;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }
}

.required {
  transition: opacity 150ms ease;
  opacity: 0;

  [data-floating] & {
    opacity: 1;
  }
}
