.container {
  position: relative;
  padding: 20px 10px;
  border-radius: 8px;
  width: 40vw;
  max-height: 90dvh;
  margin-top: 30px;
  height: fit-content;

  @media only screen and (max-width: 768px) {
    width: 90vw;
    max-height: 60dvh;
    margin-top: 10px;
  }
}

.header {
  width: 38.5vw;

  @media only screen and (max-width: 768px) {
    width: 84vw;
  }
}

.content {
  overflow: auto;
}
