:root {
  --fc-small-font-size: 12px;
  --fc-page-bg-color: var(--mantine-color-primary-0);
  --fc-neutral-bg-color: var(--mantine-color-primary-2);
  --fc-neutral-text-color: var(--mantine-color-primary-6);
  --fc-border-color: #ddd;
  --fc-button-text-color: #fff;
  --fc-button-bg-color: var(--mantine-color-primary-6);
  --fc-button-border-color: var(--mantine-color-primary-7);
  --fc-button-hover-bg-color: var(--mantine-color-primary-6);
  --fc-button-hover-border-color: var(--mantine-color-primary-8);
  --fc-button-active-bg-color: var(--mantine-color-primary-7);
  --fc-button-active-border-color: var(--mantine-color-primary-9);
  --fc-event-bg-color: var(--mantine-color-primary-6);
  --fc-event-border-color: var(--mantine-color-primary-6);
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);
  --fc-more-link-bg-color: var(--mantine-color-primary-3);
  --fc-more-link-text-color: inherit;
  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;
  --fc-non-business-color: var(--mantine-color-primary-1);
  --fc-bg-event-color: var(--mantine-color-primary-5);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: var(--mantine-color-primary-0);
  // --fc-today-bg-color: rgba(255, 220, 40, .15);
  --fc-now-indicator-color: var(--mantine-color-primary-9);

  --fc-daygrid-event-dot-width: 8px;
}

.fc {
  font-size: 14px;
}

.fc .fc-button {
  border-radius: 6px;

  @media only screen and (max-width: 768px) {
    padding: 1px 6px;
  }
}

.fc-daygrid-event {
  border-radius: 6px;
}

.fc-h-event {
  padding-left: 6px;
  padding-right: 6px;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  @media only screen and (max-width: 768px) {
    margin-left: 0.5em;
  }
}

.fc .fc-toolbar.fc-header-toolbar {
  @media only screen and (max-width: 768px) {
    margin-bottom: 1em;
  }
}

.fc .fc-toolbar-title {
  font-size: 20px;

  @media only screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.fc-timeline-event {
  border-radius: 6px;
  font-weight: bold;
  height: 30px;
}

.fc-event-time {
  display: none;
}
