.webcam {
  object-fit: cover;
  height: 56vh;
}

.image {
  object-fit: cover;
  height: 56vh;
}

.captureButton {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid var(--time-clock-secondary-color);
  padding: 0;
}
