.container {
  height: 100dvh;
  width: 100dvw;
  align-items: center;
  gap: 0;
  position: absolute;
  z-index: 100;
  background-color: var(--time-clock-bg);
}

.webcam {
  object-fit: cover;
  height: 60dvh;
}

.image {
  width: 100dvw;
  height: 60dvh;
  object-fit: cover;
}

.captureButton {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid var(--time-clock-accent);
  padding: 0;
}
