.container {
  width: 100%;
  padding: 16px 16px 0 16px;
  padding-left: calc(280px + 16px);

  @media only screen and (max-width: 768px) {
    padding: 0px;
  }
}

.shifted {
  padding-left: calc(70px + 16px);

  @media only screen and (max-width: 768px) {
    padding: 0px;
  }
}

.header {
  position: fixed;
  width: 100%;
  padding: 6px 4px 4px 8px;
  z-index: 150;
  background-color: var(--navbar);
}

.content {
  @media only screen and (max-width: 768px) {
    padding: 48px 10px 10px 10px;
  }
}
