.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--border);
  cursor: pointer;

  &:hover {
    background: var(--hover);
  }
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.icon {
  cursor: pointer;
}
