.topLeft {
  position: fixed;
  top: 20%;
  left: 30%;
  width: 30px;
  height: 30px;

  @media only screen and (max-width: 768px) {
    left: 15%;
  }
}

.topRight {
  position: fixed;
  top: 35%;
  right: 22%;
  width: 20px;
  height: 20px;

  @media only screen and (max-width: 768px) {
    top: 15%;
    right: 15%;
  }
}

.bottomLeft {
  position: fixed;
  bottom: 35%;
  left: 22%;
  width: 100px;
  height: 100px;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.bottomRight {
  position: fixed;
  bottom: 15%;
  right: 27%;
  width: 100px;
  height: 100px;
  @media only screen and (max-width: 768px) {
    bottom: 10%;
    right: 15%;
  }
}
